





<style>

  
#especial{
text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto del elemento padre */
}
    
  .footer {
    background-color: black; /* Color de fondo negro para el supercontenedor */
    padding: 20px; /* Ajusta según tus necesidades */
    padding-left:0px;
    display: flex; /* Para colocar las listas en una fila horizontal */
    width: 100%; /* Ancho predeterminado del 100% */
    height: 110em; /* Altura predeterminada de 20em */
    /* Centrar el contenedor */
    border-top-left-radius: 35px; /* Borde superior izquierdo redondeado */
    border-top-right-radius: 35px; /* Borde superior derecho redondeado */
  }
  
@media only screen and (min-width: 769px) {

 .footer {

  background-color: black; /* Color de fondo negro para el supercontenedor */
    padding: 20px; /* Ajusta según tus necesidades */
    display: flex; /* Para colocar las listas en una fila horizontal */
    width: 100%; /* Ancho predeterminado del 100% */
    height: 30em; /* Altura predeterminada de 20em */
    /* Centrar el contenedor */
    border-top-left-radius: 100px; /* Borde superior izquierdo redondeado */
    border-top-right-radius: 100px; /* Borde superior derecho redondeado */


 }



}
  .list,
  .list2 {
    margin-bottom: 20px; /* Espacio entre las listas en dispositivos de escritorio */
  }

  ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    color: white;
    margin: 0; /* Elimina el margen de las listas en dispositivos de escritorio */
  }

  li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista en dispositivos de escritorio */
    color: white;
  }

  h3 {
    color: white;
  }

  /* Media query para dispositivos móviles */
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column; /* Cambia a dirección de columna en dispositivos móviles */
      align-items: center; /* Centra las listas en dispositivos móviles */
    }

    .list,
    .list2 {
      margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
      margin-bottom: 20px; /* Espacio entre las listas en dispositivos móviles */
    }

    li {
      margin-bottom: 18px; /* Espacio entre elementos de la lista en dispositivos móviles */
      
    }
  }



  .list2{



    margin-left:4em;
  }


  .list{



    margin-left:4em;
  }



@media only screen and (min-width: 769px) {
    .list {
      margin-left: 10em; /* Ajusta el margen izquierdo solo en dispositivos de escritorio */
    }

   
  }
  
</style>

<div class="footer">
  <div class="list2">
    <h3>Contacta</h3>
    





 <!-- Agrega el enlace al archivo CSS de Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...">


<style>
    /* Aplica estilos de color blanco a los elementos con la clase "white-icon" */
    .white-icon {
      color: #fff; /* Cambia esto al color que desees, por ejemplo, #ffffff para blanco */
    }
  </style>
      
<ul class="list-unstyled">
  <li><a href="mailto:info@3dids.com" class="white-icon"><i class="fas fa-envelope"></i> info@3dids.com</a></li>
  <li><a href="tel:965242029" class="white-icon"><i class="fas fa-phone"></i> +34 965 24 20 29</a></li>
  <li><a href="tel:652128644" class="white-icon"><i class="fas fa-mobile-alt"></i> +34 652 128 644</a></li>
</ul>
  </div>

  <div class="list">
    <h3>Accesos</h3>
    <ul>
      <!-- Tus elementos de la Lista 2 aquí -->
    <li><a  id="especial" href="https://www.3dids.com/proyecto/">Proyectos</a></li>
<li><a id="especial" href="https://www.3dids.com/programa-ayudas-subvenciones-digitalizacion/">Ayudas y subvenciones</a></li>
<li><a id="especial" href="https://www.3dids.com/blog/">El blog de 3dids</a></li>
<li><a id="especial" href="https://www.3dids.com/video-opiniones-3dids/">Video Opiniones</a></li>
<li><a id="especial" href="https://www.3dids.com/kitdigital/">Kit Digital</a></li>
<li><a id="especial" href="https://www.3dids.com/migrar-a-shopify-plus/">Migrar a Shopify Plus</a></li>
<li><a id="especial" href="https://www.3dids.com/soporte-shopify/">Soporte Shopify Plus</a></li>
    </ul>
  </div>

  <div class="list">
    <h3>Info legal</h3>
    <ul>
      <!-- Tus elementos de la Lista 3 aquí -->
      <li><a id="especial" href="https://www.3dids.com/politica-de-privacidad/">Politica de privacidad</a></li>
      <li><a id="especial"  href="https://www.3dids.com/politica-de-cookies/">Politica de cookies</a></li>
      <li><a id="especial" href="https://www.3dids.com/aviso-legal/">Aviso Legal</a></li>
      <li><a id="especial" href="https://www.3dids.com/cro-ux-ui/">CRO UX UI</a></li>
      <li><a id="especial" href="https://www.3dids.com/automatizacion-procesos-administrativos/">Automatización</a></li>
      <li><a id="especial" href="https://www.3dids.com/consultor-shopify/">Consultar Shopify</a></li>
      <li><a id="especial" href="https://www.3dids.com/shopify-experts/">Shopify Experts</a></li>
            
      
    </ul>
  </div>






<style>
  /* Aplica estilos de color blanco a las clases de íconos */
  .fab,
  .fas {
    color: #fff; /* Cambia esto al color que desees, por ejemplo, #ffffff para blanco */
  }



 @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column; /* Cambia a dirección de columna en dispositivos móviles */
      align-items: flex-start; /* Alinea las listas a la izquierda en dispositivos móviles */
    }
 }



 .button-container {
         
         /* Align the button to the right */
        margin-top: 20px; /* Adjust the margin as needed */
        
         
    }

    .simple-button {
        background-color: #5E97F8;; /* Button background color */
        color: white; /* Button text color */
        padding: 15px 40px; /* Adjust padding as needed */
        border: none;
        border-radius: 30px; /* Add rounded corners */
        cursor: pointer;
        font-size:23px;
        font-weight: bold;
      transition: all 0.5s ease;
      
    }
 


  .simple-button:hover{
        background-color:  #345580; /* Button background color */
        color: #5E97F8;; /* Button text color */
        padding: 15px 40px; /* Adjust padding as needed */
        border: none;
        border-radius: 30px; /* Add rounded corners */
        cursor: pointer;
      font-size:23px;
      font-weight: bold;
    }
  


@media only screen and (min-width: 1900px) {
  .button-container {
    margin-left: 0em;
  }
}




/* Estilos para el contenedor del botón en tamaños medianos */
@media only screen and (min-width: 760px) and (max-width: 1620px) {
  .button-container {
    display: none; /* Ocultar el contenedor del botón en tamaños medianos */
  }
}

/* Estilos para el contenedor del botón en tamaños de pantalla móvil */
@media only screen and (max-width: 600px) {
  .button-container {
    display: block; /* Mostrar el contenedor del botón en tamaños de pantalla móvil */
    
  }
}
 



  .flag-container {
       
        margin-top: 20px; /* Adjust the margin as needed */
        margin-left:50px;
    }

    .flag-img {
      
    }

  @media only screen and (min-width: 769px) {

.flag-container {
       
        margin-top: 120px; /* Adjust the margin as needed */
        margin-left:-315px;
    }

  }





.blancoa{



  color:white;
  
}

  
.blancoa a:hover {
  color: white;
}
  

@media only screen and (min-width: 769px) {
  #logobajo{

margin-top:25em;
margin-left:-90em;
  }

}



    #logobajo img {



         width: 150px; 


      
    }


  .empuje{

  margin-left:245px;
    
  }






  #moviendo_texto{


    margin-top:0em;
  }

@media only screen and (min-width: 769px) {

  #moviendo_texto{

  margin-top:25.5em;
   margin-left:90em;
  }


}

 @media only screen and (max-width: 768px) {

 #moviendo_texto{

 margin:0 auto;
  }
#logobajo{
 margin:0 auto;

  }


 }


 


  
</style>











  
  <div class="list">
    <h3>Siguenos</h3>
  <ul>
  <li ><a class="azulc" href="https://www.facebook.com/3dids"><i   class="fab fa-facebook"></i> Facebook</a></li>
  
  <li><a class="azulc" href="https://www.instagram.com/3dids/"><i    class="fab fa-instagram"></i> Instagram</a></li>
  <li><a class="azulc" href="https://es.linkedin.com/company/3dids-juntos-hacemos-que-suceda"><i   class="fab fa-linkedin"></i> LinkedIn</a></li>
  <li><a class="azulc" href="https://www.youtube.com/user/3dids3dids"><i   class="fab fa-youtube"></i> Youtube</a></li>
  <li><a class="azulc" href="https://www.3dids.com/podcast/"><i class="fas fa-podcast"></i> Podcast</a></li>
</ul>
  </div>

<div class="list" id="espaciador">
  
  
<style>

#espaciador{

 
  
}
  
</style>

  
</div>

  
 <div class="button-container">
        <button  class="simple-button">¿Hablamos?&RightArrow;</button>
    </div>


<div class="flag-container">
    <!-- Add the flag of Spain image using its URL -->
   <a> <img class="flag-img" src="https://www.3dids.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/es.svg" alt="ESPAÑA"> </img></a>
</div>

<br>

<div id="logobajo"><a class="blancoa"><img src="https://www.3dids.com/wp-content/uploads/3dids_blanco_logo.png"></a></div>

  <div id="moviendo_texto"><h4 class="blancoa">With love, from Alicante</h4></div>

  
</div>


