{{ section.settings.custom_liquid }}
{% schema %}
{
   "name": "Custom Liquid IMGG",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "Custom Liquid IMGG"
   }]
}
{% endschema %}



{{ section.settings.custom_liquid }}

{{ section.settings.custom_liquid }}

<div style="text-align: center;">
  <img src="https://www.3dids.com/wp-content/uploads/google-review-logo-01-1024x834-5-300x244.png" alt="Centered Image" style="max-width: 100%; height: auto;">
</div>