{{ section.settings.custom_liquid }}
{% schema %}
{
   "name": "SRe Custom Liquid",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "SRe  Custom Liquid"
   }]
}
{% endschema %}
<div class="container24">
  <div class="slider">
       <button class="prev" onclick="moveSlide(-1)">❮</button>
      <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a-/AD5-WCn4vsQDrN7PlpH_HoC3HhSk22NKZw6v0ayWaCETjA=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">Juan Carlos Artero</a><br>
                            <a id="second-link" id="margin-f">2023-01-03</a>
                      </div>
                      
                  
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Grandes profesionales, cercanos y muy resolutivos, excelentes colaboradores para el desarrollo comercial siempre con una muy buena estrategia de negocio</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>
    
      
      <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a-/AD5-WCmFL_Z131nqUHRjjrs5_dBdomUfsejfwNVdyHCx=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">Cristina Sanz</a><br>
                            <a id="second-link" id="margin-f">2022-11-30</a>
                      </div>
                      
                  
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Estamos muy contentos con su trabajo, les planteamos un gran reto y no solo han superado nuestras expectativas sino que lo han hecho en tiempo record.</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a/AEdFTp72ZexrfCy1kC9q8HksNW3uLHjpq5nb8JxCg76q=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">Jose Vicente Salva Signes</a><br>
                            <a id="second-link" id="margin-f">2022-11-21</a>
                      </div>
                      
                  
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Estamos muy satisfechos con el trabajo realizado se implican para dar el máximo y eso siempre es de agradecer. Gracias María, Sara, Nuria y Ana 🙂</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>
      <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a-/AD5-WCl0ZaDB210AreUUQfR_6lr4T5Nl5Sa-yJKz4Ic1=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">ASOC DE FABRICANTES </a><br>
                            <a id="second-link" id="margin-f">2022-11-17</a>
                      </div>
                      
                  
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Trabajo comprometido y profesional. Un gran equipo en todos los aspectos, los resultados del proyecto que hemos desarrollado con ellos han superado</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>
      <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a-/AD5-WCkNVTTv8m_8CSx3sXCNZ2WjcSvYb2aMV2af5xZqkQ=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">Tresdedos Infográfica</a><br>
                            <a id="second-link" id="margin-f">2022-11-16</a>
                      </div>
                      
                  
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Esperamos seguir colaborando con 3dids muchos más años, como así ha sido desde los inicios de ambas empresas ;-), un equipo muy preparado y buena gente</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>
        
        <div class="slide">
            <div class="review-card">
                <div class="review-info">
                 
                   
                      <div class="image-container">
                          <img src="https://lh3.googleusercontent.com/a/AEdFTp4RbjEiXu5qqfMsuCJMZQRGlf8JJlEEywOxmvrm=s120-c-c-rp-w64-h64-mo-br100" alt="Foto de la persona">
                           <a id="first-link">The Amity Company comas </a><br>
                            <a id="second-link" id="margin-f">2023-01-23</a>
                      </div>
                              <style>
                                    /* CSS to style the first <a> element */
                                    #first-link {
                                        font-weight: bold; /* Making it bold */
                                        font-size: 120%; /* Adding some thickness */
                                    }
                            
                                    /* CSS to style the second <a> element */
                                    #second-link {
                                        color: gray; /* Making it gray */
                                        font-size: smaller; /* Making it smaller */
                                    }
                                </style>
                                              
                    <div class="review-details">

                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span> <!-- Este es solo un ejemplo, puedes cambiar el número de estrellas según la calificación -->
                        </div>
                        <p>Saber que siempre puedes contar con el soporte de Juanjo Guillén aporta mucha confianza y seguridad. Resolutivo, rápido y eficiente en todas las consultas y tarea</p>
                    </div>
                </div>
              <div class="google-logo-container">
                    <img class="google-logo" src="https://tse2.mm.bing.net/th?id=OIP._2KcAjhfLzoZm34LMGXQdwHaHa&pid=Api&P=0&h=15" alt="Logo de Google">
                </div>
            </div>
        </div>


        
      
                              <style>
                                    /* CSS to style the first <a> element */
                                    #first-link {
                                        font-weight: bold; /* Making it bold */
                                        font-size: 120%; /* Adding some thickness */
                                    }
                            
                                    /* CSS to style the second <a> element */
                                    #second-link {
                                        color: gray; /* Making it gray */
                                        font-size: smaller; /* Making it smaller */
                                    }
                                </style>
                                              
                    
      
       <button class="next" onclick="moveSlide(1)">❯</button>
      
    </div>
         
</div>

<br>
<br>
<br>
<br>
<br>
<style>
   .container24 {}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 380px; /* Reducido el ancho de las diapositivas */
    height: 150px; /* Reducido el alto de las diapositivas */
    background-color: white;
   
    margin: 0 5px;
    border-radius: 8px; /* Reducido el radio de borde */
   
   
}

.review-info img {
    width: 40px; /* Reducido el tamaño de las imágenes */
    border-radius: 50%;
    margin-right: 8px;
    margin-top: -8px; /* Movido ligeramente hacia arriba */
}

.review-card {
    background-color: white;
    border-radius: 8px; /* Reducido el radio de borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Reducido el espacio interno */
    margin: 15px; /* Reducido el espacio externo */
    display: flex;
    align-items: flex-start;
}

  .review-card:hover {
    background-color: white;
    border-radius: 8px; /* Reducido el radio de borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Reducido el espacio interno */
    margin: 15px; /* Reducido el espacio externo */
    display: flex;
    align-items: flex-start;
    margin-top:-2px;
}

.review-details {
    flex: 1;
}

.rating {
    color: #f39c12;
    margin-left: -8px; /* Ajustado el margen izquierdo para las estrellas */
}

.star {
    font-size: 18px; /* Reducido el tamaño de las estrellas */
    margin-right: 3px; /* Reducido el espacio entre estrellas */
    color: #FFD700; 
}

p {
    margin: 3px 0; /* Cambiado el margen para que sea más compacto */
}

.review-details h3 {
    margin: 0;
    color: #333;
    margin-bottom: 3px; /* Añadido un pequeño margen inferior al título */
}

#ad {
    border: solid red 1px;
}

#margin-f {
    margin-left: 16%; /* Ajustado el margen izquierdo */
}

@media screen and (max-width: 768px) {
    .slider {
        flex-wrap: wrap;
    }
    .slide {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

  @media screen and (max-width: 768px) {
    .slide:nth-child(n+2) {
        display: none; /* Oculta todas las diapositivas excepto la primera */
    }
}

   .slide {
       
    }




   @media screen and (max-width: 768px) {
      
        .next {
            margin-top: 110px; /* Ajusta la posición de la flecha derecha */
        }
    }

</style>

<script>
  const slider = document.querySelector('.slider');
const slides = document.querySelectorAll('.slide');
let slideIndex = 0;

function showSlides() {
    if (window.innerWidth <= 1200) {
        // Código para dispositivos móviles
        slides.forEach((slide, index) => {
            slide.style.display = index === slideIndex ? 'block' : 'none';
        });
    } else {
        // Código para PC
        slides.forEach((slide, index) => {
            if (index >= slideIndex && index < slideIndex + 3) {
                slide.style.display = 'block';
            } else {
                slide.style.display = 'none';
            }
        });
    }

    // Desactivar botón prev cuando no hay más diapositivas hacia atrás
    document.querySelector('.prev').disabled = slideIndex === 0;

    // Desactivar botón next cuando no hay más diapositivas hacia adelante
    document.querySelector('.next').disabled = slideIndex >= slides.length - 3;
}

function moveSlide(n) {
    slideIndex += n;
    if (slideIndex < 0) {
        slideIndex = slides.length - 1;
    } else if (slideIndex >= slides.length) {
        slideIndex = 0;
    }
    showSlides();
}

// Mostrar las diapositivas cuando la página se carga
showSlides();

// Actualizar las diapositivas cuando la ventana cambia de tamaño
window.addEventListener('resize', showSlides);
 
</script>
